/* CSS declarations go here */
.singlePerson{
    background-color: #eee;
    margin-top:10px;
    margin-left:10px;
    /*outline: 1px dotted;*/
    border-radius: 15px;
}
.mb10{
    margin-bottom:10px;
}
.mt10{
    margin-top:10px;
}
