
.person-list {
    padding-left: 0;
}

.person {
    display: inline-block;
    float: left;
    width: 540px;
    margin: 0 30px 30px 0;
    padding: 15px;
    background-color: #fafafa;
    box-shadow: 0px 1px 3px #ccc;

    &:nth-child(2n) {
      margin-right: 0;
    }

    h1 {
        margin-top: 5px;
    }

    .party-name {
        margin-top: 0;
        text-transform: uppercase;
        font-size: @font-size-h4;
        color: #505050;
    }

    img {
        float: right;
    }
}